.forget-password-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;

    h2 {
        text-align: center;
        font-weight: 600;
    }

    form {
        margin-top: 20px;

        label {
            display: block;
            margin: 15px 0 5px;
        }

        input {
            width: 100%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;

            &:not([disabled]) {
                margin-bottom: 10px;
            }

            &:disabled {
                cursor: not-allowed;
            }
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 4px;
            cursor: pointer;

            &:hover {
                background-color: #0056b3;
            }

            &:disabled {
                cursor: not-allowed;
            }
        }

        .otp-field-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            
            >div {
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-start;

                >.get-otp-btn {
                    background: none;
                    color: black;
                    font-size: 0.8rem;
                    flex: 0.2;
                    text-decoration: underline;
                }
            }
        }

        .password-fields {
            display: grid;
            grid-gap: 10px;
        }

        >.submit-btn {
            margin-top: 20px;
        }

        .back-to-login {
            
            >a {
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: end;
                text-decoration: underline;
                gap: 5px;
                font-size: 0.9rem;
            }
        }
    }
}